<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100">
    <div class="container mx-auto flex justify-between p-7">
        <a href="/">
            logo
        </a>
        <nav class="flex gap-4">
            <a href="/" class="inline-block px-2 text-gray-500 hover:text-blue-500">Startseite</a>
            <a href="/artikel" class="inline-block px-2 text-gray-500 hover:text-blue-500">Lager</a>
            <a href="/logfile" class="inline-block px-2 text-gray-500 hover:text-blue-500">Logfile</a>
             <a href="/order" class="inline-block px-2 text-gray-500 hover:text-blue-500">Auftrag erfassen</a>
            <a href="/car" class="inline-block px-2 text-gray-500 hover:text-blue-500">Wahrenkorb</a>
        </nav>
    </div>
  <div class="container mx-auto py-12 mt-12">
      <div class="flex justify-between">
          <h1 class="text-2xl font-bold">Logfile übersicht</h1>
      </div>
      <div class="py-12">

      </div>
  </div>
</body>
</html>