{% extends 'base.html' %}

{% block title %}Artikel erstellen{% endblock %}

{% block content %}
<div class="container mx-auto mt-12">
      <div class="flex justify-between">
          <h1 class="text-2xl font-bold ml-7">Artikel erstellen</h1>

      </div>
      <form method="post" action="/artikel/store" class="block">
      <div class="py-12 flex gap-4">
          <div class="w-7/12 px-7">
              <div class="my-4">
                <label class="block mb-2">Artikel Nummer</label>
                <input type="text" name="item_number" class="block w-full py-2 px-3 rounded-md"/>
              </div>
              <div class="my-4">
                  <label class="block mb-2">Titel</label>
                  <input type="text" name="title" class="block w-full py-2 px-3 rounded-md"/>
              </div>
              <div class="my-4">
                  <label class="block mb-2">Beschreibung</label>
                  <textarea name="description" rows="10" cols="10" class="block w-full py-2 px-3 rounded-md"></textarea>
              </div>

          </div>
          <div class="w-5/12 px-7">
              <div class="my-4">
                  <label class="block mb-2">Preis</label>
                  <input type="number" name="price" class="block w-full py-2 px-3 rounded-md" min="0.00" max="10000.00" step="0.01"/>
              </div>

              <div class="my-4">
                  <label class="block mb-2">Lagerstand</label>
                  <input type="number" name="inventory" class="block w-full py-2 px-3 rounded-md"/>
              </div>

              <div class="my-4">
                <label class="block mb-2">Status</label>
                  <select name="status" class="block w-full py-2 px-3 rounded-md">
                      <option value="0">deaktiviert</option>
                      <option value="1">aktiviert</option>
                  </select>
              </div>
          </div>
      </div>
      <div>
          <button type="submit" class="ml-7 w-96 text-center py-3 bg-green-500 hover:bg-green-700 text-white transition-all duration-150 ease-in-out rounded-md"><i class="far fa-save mr-2"></i>Speichern</button>
      </div>
      </form>
  </div>
{% endblock %}