{% extends 'base.html' %}

{% block title %}Artikel übersicht{% endblock %}

{% block content %}
<div class="container mx-auto py-12 mt-12">
      <div class="flex justify-between">
          <h1 class="text-2xl font-bold">Artikel übersicht</h1>
          <a href="/artikel/create" class="w-96 inline-block text-center py-2 rounded-md bg-green-500 hover:bg-green-700 text-white transition-all duration-150 ease-in-out">
              <i class="fas fa-plus mr-2 "></i>Neuen Artikel Anlegen
          </a>
      </div>
      <div class="py-12">
          <table class="w-full">
              <thead class="p-2 mb-7">
                <tr class="border-b">
                    <td class="w-2/12 text-left uppercase text-gray-400 pb-7">Artikel Nummer</td>
                    <td class="w-3/12 text-left uppercase text-gray-400 pb-7">Titel</td>
                    <td class="w-1/12 text-center uppercase text-gray-400 pb-7">Preis</td>
                    <td class="w-1/12 text-center uppercase text-gray-400 pb-7">Status</td>
                    <td class="w-1/12 text-center uppercase text-gray-400 pb-7">Anzahl</td>
                    <td class="w-4/12"></td>
                </tr>
              </thead>
              <tbody class="">

                {% for item in content %}

                    <tr class="hover:bg-gray-200 transition-all duration-150 ease-in-out border-b">
                        <td class="p-2 text-left">{{item[1]}}</td>
                        <td class="p-2 text.left">{{item[2]}}</td>
                        <td class="p-2 text-center">{{"%.2f €" % (item[4])}}</td>
                        <td class="p-2 text-center">
                            {% if item[5] == 1 %}
                                <i class="fas fa-circle text-green-500"></i>
                            {% else %}
                                <i class="fas fa-circle text-red-500"></i>
                            {% endif %}
                        </td>
                        <td class="p-2 text-center">{{item[6]}}</td>
                        <td class="p-2 flex justify-end gap-4">
                            <a href="/artikel/{{item[0]}}" class="w-10 h-10 bg-blue-500 hover:bg-blue-700 flex justify-center items-center rounded-md text-white transition-all duration-150 ease-in-out">
                                <i class="far fa-edit"></i>
                            </a>
                            <form method="post" action="/artikel/delete">
                                <input type="hidden" name="id" value="{{item[0]}}">
                                <button type="submit" class="w-10 h-10 bg-red-500 hover:bg-red-700 flex justify-center items-center rounded-md text-white transition-all duration-150 ease-in-out">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

              </tbody>
          </table>
      </div>
</div>
{% endblock %}