{% extends 'base.html' %}

{% block title %}Wahrenkorb{% endblock %}

{% block content %}
<div class="container mx-auto py-12 mt-12 flex gap-7">
      <div class="w-7/12">
          <h1 class="text-2xl mb-5">Wahrenkorb</h1>

          {% if content|length >= 1 %}
            {% for value in content %}
              <div class="bg-white my-7 rounded-md flex overflow-hidden">
                  <figure class="w-4/12">
                      <img src="https://picsum.photos/400/400" alt="" title="" class="block w-full" />
                  </figure>
                  <div class="w-8/12 px-5 py-7 relative">
                      <form method="post" action="/car/delete">
                          <input type="hidden" name="id" value="{{value['articel'][0]}}">
                          <button type="submit" class="absolute top-2 right-2 w-12 h-12 flex justify-center items-center text-gray-500 hover:text-red-500"><i class="far fa-trash-alt"></i></button>
                      </form>

                      <h3 class="font-bold text-2xl mb-5">{{value['articel'][2]}}</h3>
                      <p class="my-5">{{"%.2f€" % value['articel'][4]}}</p>

                      <form method="post" action="/car/update">
                          <input type="hidden" name="id" value="{{value['articel'][0]}}">
                          <input type="number" name="count" value="{{value['count']}}" min="1" class="py-2 px-3 bg-gray-50">
                          <button type="submit"><i class="fas fa-sync mx-2"></i>aktualisieren</button>
                      </form>
                      <div class="mt-12 flex">
                          <p><b class="font-bold">Zwischensumme:</b> {{"%.2f€" % (value['count'] * value['articel'][4])}}</p>
                      </div>
                  </div>
              </div>
            {% endfor %}
          {% else %}
            <p>Ihr warenkorb ist leer</p>
          {% endif %}

      </div>
    <div class="w-5/12 px-5">
        <h1 class="text-2xl mb-5">Ihre Gesamtbestellung</h1>

        <div class="mb-12">
            {% for value in content %}
                <div class="my-5 flex">
                    <div class="w-8/12 px-3">
                        <b class="font-bold">{{value['articel'][2]}}</b>
                    </div>
                    <div class="w-4/12 text-right px-3">
                        {{"%.2f€" % value['articel'][4]}}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="bg-white rounded-md px-5 py-7 flex justify-between">
            <div class="">
                <h2 class="font-normal text-2xl text-gray-700">Gesammtpreis:</h2>
            </div>
            <div class="font-bold text-2xl underline text-gray-900">{{"%.2f€" % total_price}}</div>
        </div>

        <div class="">
            <a href="/order/enter" class="w-96 block mt-7 mx-auto text-white bg-green-500 hover:bg-green-600 py-3 text-center rounded-md transition-all duration-150 ease-in-out">Bestellen</a>
        </div>


    </div>
  </div>
{% endblock %}